/* flex */
.container {
    display: flex;
}

/* flex-direction */
.container {
     flex-direction: row; /* default: horizontal  */
     flex-direction: column; /*  vertikal */
}

/* justify-content */
.container {
    justify-content: center;
}

/* align-items */
.container {
    align-items: center;
}

/* gap */
.container {
    gap: 20px;
}