/* Best Practice CSS */

/* 1. Gunakan Struktur dan Urutan yang Konsisten */
.card {
    position: relative;
    display: flex;
    width: 100%;
    background-color: white;
    color: #333;
    font-size: 1rem;
}

/* 2. Gunakan Class */
/* Hindari */
#main-title {
    font-size: 32px;
}

/* Disarankan */
.title-besar {
    font-size: 32px;
}

/* 3. Gunakan CSS Variables */
:root {
    --warna-primer: #3498db;
    --padding-default: 1rem;
}

/* 4.Gunakan nama kelas yang jelas */
/* Hindari */
.hijau, .box1

/* Disarankan */
.kartu-produk, .tombol-login