/* grid */
.container {
    display: grid;
}

/* grid-template-columns & grid-template-rows */
.container {
    grid-template-columns: 200px 200px;
    grid-template-rows: 100px 100px;
}

/* gap */
.container {
    gap: 16px;
}

/* grid area */
.item {
    grid-column: 1/3;
    grid-row: 1/2;
}